{% case section.settings.grid %}
  {% when 2 %}
    {%- assign max_height = 530 -%}
  {% when 3 %}
    {%- assign max_height = 500 -%}
  {% when 4 %}
    {%- assign max_height = 425 -%}
  {% when 5 %}
    {%- assign max_height = 400 -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
  {%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}

{% paginate collection.products by limit %}

<div data-section-id="{{ section.id }}" data-section-type="collection-template" class="{% unless section.settings.show_collection_image and collection.image %}push-content{% endunless %}">
  {% unless section.settings.show_collection_image and collection.image %}
  <div class="page-width page-width-large">{% render 'breadcrumbs' %}</div>
  {% endunless %}
  <header class="collection-header">
    {%- assign is_filter_by_available = false -%}
    {%- if section.settings.tags_enable and collection.all_tags.size > 0 -%}
      {%- assign is_filter_by_available = true -%}
    {%- endif -%}

    {% if collection.image %}
      <div class="collection-hero">
          <div class="collection-hero__image" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'center' }});"></div>

          <div class="collection-hero__title-wrapper">
            <h1 class="collection-hero__title page-width">
                <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
                {{ collection.title }}
            </h1>
          </div>
      </div>
      {% if is_filter_by_available == false and section.settings.sort_enable == false %}
        <div class="page-width page-width-large">
          <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
        </div>
      {% endif %}
      {% if collection.description != blank %}
        <div class="rte collection-description page-width">
          {{ collection.description }}
        </div>
      {% endif %}
    {% else %}
      <div class="page-width page-width-large">
        
        <div class="text-center">
          <h1 class="collection-title">
              <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
            {{ collection.title }}
          </h1>
          {% if collection.description != blank %}
            <div class="rte collection-description">
              {{ collection.description }}
            </div>
          {% endif %}
          {% if is_filter_by_available == false and section.settings.sort_enable == false %}
            <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% if section.settings.show_collection_image and collection.image %}
    <div class="page-width page-width-large">{% render 'breadcrumbs' %}</div>
    {% endif %}

    {% if is_filter_by_available or section.settings.sort_enable %}
      <div class="filters-toolbar-wrapper{% if is_filter_by_available %} filters-toolbar--has-filter{% endif %}">
        <div class="page-width page-width-large">
          <div class="filters-toolbar">
            <div class="filters-toolbar__item-wrapper">
              <div class="filters-toolbar__item filters-toolbar__item--count">
                <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
              </div>

              <div class="filters-toolbar__item-inner">
                {% if section.settings.tags_enable %}
                  {% unless collection.all_tags.size == 0 %}
                    <div class="filters-toolbar__item-child">
                      <div class="filters-toolbar__input-wrapper select-group">
                        <select class="filters-toolbar__input select-label hidden" name="FilterTags" id="FilterTags" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-select-input>
                          <option selected="selected" disabled="disabled">{{ 'collections.filters.title_tags' | t }}</option>
                          <option value="{{ collection.url }}">{{ 'collections.filters.all_tags' | t }}</option>
                          {% for tag in collection.all_tags %}
                            {%- assign new_url = tag | link_to_tag: tag | split: 'href="' | last | split: '"' | first -%}
                            <option value="{{ new_url }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
                          {% endfor %}
                        </select>
                        {% include 'icon-chevron-down' %}
                      </div>
                    </div>
                  {% endunless %}
                {% endif %}
  
                {% if section.settings.sort_enable %}
                  <div class="filters-toolbar__item-child">
                    {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                    <div class="filters-toolbar__input-wrapper select-group">
                      <select name="sort_by" id="SortBy"
                        class="filters-toolbar__input hidden select-label"
                        aria-describedby="a11y-refresh-page-message a11y-selection-message"
                        data-default-sortby="{{ collection.default_sort_by }}"
                        data-select-input
                      >
                      <option selected="selected" disabled="disabled">{{ 'collections.sorting.title' | t }}</option>
                        {%- for option in collection.sort_options -%}
                          <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>{{ option.name }}</option>
                        {%- endfor -%}
                      </select>
                      {% include 'icon-chevron-down' %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>

          </div>
        </div>
      </div>
    {% endif %}
  </header>

  <div class="page-width page-width-large" id="Collection">

      {% case section.settings.grid %}
      {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
      {% when 3 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
      {% when 4 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
      {% when 5 %}
        {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
      {% endcase %}

      <ul class="grid grid--uniform">
        {% for product in collection.products %}
          <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">

            {% unless card_upgrade %}
            {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
            {% else %}
            {% include 'product-card-grid-upgrade', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
            {% endunless %}


          </li>
        {% else %}
          {% comment %}
          Add default products to help with onboarding for collections/all only.

          The onboarding styles and products are only loaded if the
          store has no products.
          {% endcomment %}
          {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
            <li class="grid__item">
              <div class="grid grid--uniform">
                {% for i in (1..limit) %}
                  <div class="grid__item {{ grid_item_width }}">
                    <div class="grid-view-item">
                      <a href="#" class="grid-view-item__link">
                        <div class="grid-view-item__image" style ="height:450px;">
                          {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                          {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                        <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                        <div class="grid-view-item__meta">
                          <span class="product-price__price">$19.99</span>
                        </div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </li>
          {% else %}
            {%- assign is_empty_collection = true -%}
          {% endif %}
        {% endfor %}
      </ul>
    

    {% if is_empty_collection %}
      <div class="grid__item small--text-center">
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% endif %}

    {%- if paginate.pages > 1 -%}
      {% include 'pagination', paginate: paginate %}
    {%- endif -%}
  </div>
</div>

{% endpaginate %}
